<aside>
	<nav>
		<ul>
			<li class="float-left"><a href="{{ site.url }}">{{ site.title }}</a></li>
			<!-- {% for page in site.pages %} {% if page.title %}
			<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
			{% endif %} {% endfor %} -->
			<li class="float-right"><a href="{{ site.url }}/blog/">MEHAT</a></li>
			<li class="float-right"><a href="{{ site.url }}/research/">Research</a>
			<li class="float-right"><a href="{{ site.url }}/pdfs/CV  July 2023 — Knights.pdf">CV</a>	
		</ul>
	</nav>
</aside>
<!-- <header>
	<h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
</header>  -->