<aside>
	<nav>
	  <ul>
		<li class="float-left"><a href="{{ site.url }}">{{ site.title }}</a></li>
		<!-- {% for page in site.pages %} {% if page.title %}
		<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
		{% endif %} {% endfor %} -->
		<li class="float-right"><a href="{{ site.url }}">Projects</a></li>
		<li class="float-right"><a href="{{ site.url }}/mehat/">MEHAT</a></li>
		<li class="float-right"><a href="{{ site.url }}">Research</a></li>
		<li class="float-right"><a href="{{ site.url }}">CV</a></li>
	  </ul>
	</nav>
  </aside>

<br><br>
<!-- <header>
	<h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
</header>  -->